name: libinspector_test

on:
  workflow_dispatch:
  pull_request:
# Run every 30 days, just to confirm that the code is still working
  schedule:
    - cron: '0 0 */30 * *'

# Set no permissions by default. This is the most secure practice.
# We will grant specific permissions to each job that needs them.
permissions: {}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest', 'macos-latest', 'windows-latest' ]
        python-version: ["3.13"]

    steps:
    - name: Checkout project sources
      uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    # Explicitly use PowerShell Core (pwsh) for robust Windows execution
    - name: Install IoT Inspector (Windows/pwsh)
      if: matrix.os == 'windows-latest'
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest coverage ruff
        python -m pip install .
      shell: pwsh

    # Linux/macOS Runners (Uses the default shell, typically 'bash')
    - name: Install IoT Inspector (Linux/Mac/default shell)
      if: matrix.os != 'windows-latest'
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest coverage ruff
        python -m pip install .

    # https://github.com/astral-sh/ruff
    - name: Lint with ruff
      run: |
        ruff check

    - name: Test with pytest and obtain code coverage
      run: |
        coverage run --source=src/iot_inspector -m pytest src/tests

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
